<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>


  <script>
    // When the user scrolls the page, execute myFunction
    window.onscroll = function () { myFunction() };

    function myFunction() {
      var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
      var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      var scrolled = (winScroll / height) * 100;
      document.getElementById("myBar").style.width = scrolled + "%";
    }


    document.getElementById("expand-header").addEventListener("click", () => {
      document.getElementById("primary-navigation").classList.toggle("visible");
    });
  </script>
</body>

</html>